# Challenge 1: Analyze Specific Products With Regex

Machine Learning & APIs with Python Course (DS4B 201-P)

Business Science

# Challenge Summary

**The Situation:** Your boss comes back and asks you to modify the analysis to understand customer's attributes that are interested in purchasing learning labs vs the R-Track Courses. You agree since there could be differences or similarities between the two populations. But how would you update the analysis?

**Your Proposed Solution:** You recommend to update the analysis so different products can be targeted such as "All Products" or lists of product names (e.g. "Learning Labs PRO"). You have heard that Regular Expression can help to filter, and you propose updating the Targeting function `els.db_read_els_data_regex()` to permit filtering products with regular expressions.

## Objectives:

1. Update `email_lead_scoring` functionality to filter the products

2. Apply the existing functionality to analyze trends and compare purchasers of products.

## Getting Started

To read in the data, make sure your current working directory is set to the project directory. Two useful jupyter magic commands are:

1. `%pwd`: Print working directory (you can detect your current directory)
2. `%cd`: You can change directory to your working directory using relative paths or full paths.

In [1]:
%pwd

'd:\\Course Code\\ds4b_201p_course'

In [2]:
%cd d:\\Course Code\\ds4b_201p_course

d:\Course Code\ds4b_201p_course

In [3]:
%pwd

'd:\\Course Code\\ds4b_201p_course'

## Python Package Imports

In [18]:
import pandas as pd
import numpy as np
import sqlalchemy as sql
import sweetviz as sv

import email_lead_scoring as els

# Part 1: Using Regex to Locate Products in the Products Table

### Step 1: List the Database Table Names

Use `db_read_els_table_names()` to get the tables in the database.

In [5]:
els.db_read_els_table_names()

['Products', 'Subscribers', 'Tags', 'Transactions', 'Website']

### Step 2: Collect the Products Table

1. Create a `products_df` by reading in the raw els table "Products"
2. Convert the type of "product_id" to `int`.
3. Display the first 10 rows with the `.head()` method

In [6]:
products_df = els.db_read_raw_els_table("Products")

products_df['product_id'] = products_df['product_id'].astype("int")

products_df.head(10)

,product_id,description,suggested_price
0,1,4-Course Bundle - Machine Learning + Expert We...,241.666667
1,2,4-Course Bundle - Machine Learning + Expert We...,441.666667
2,3,4-Course Bundle - Machine Learning + Expert We...,2500.000000
3,4,5 Course Bundle - Machine Learning + Web Apps ...,275.000000
4,5,5 Course Bundle - Machine Learning + Web Apps ...,194.444444
5,6,5 Course Bundle - Machine Learning + Web Apps ...,525.000000
6,7,5 Course Bundle - Machine Learning + Web Apps ...,3000.000000
7,8,Bundle - Data Science Starter Kit: R-Track - C...,216.666667
8,9,Bundle - Data Science Starter Kit: R-Track - C...,1200.000000
9,10,Bundle - DS For Business + Web Apps (Level 1):...,145.833333

Next, get the product descriptions as a pandas Series. And store these as `product_descriptions_series`.

In [7]:
product_descriptions_series = products_df['description']
product_descriptions_series

0     4-Course Bundle - Machine Learning + Expert We...
1     4-Course Bundle - Machine Learning + Expert We...
2     4-Course Bundle - Machine Learning + Expert We...
3     5 Course Bundle - Machine Learning + Web Apps ...
4     5 Course Bundle - Machine Learning + Web Apps ...
5     5 Course Bundle - Machine Learning + Web Apps ...
6     5 Course Bundle - Machine Learning + Web Apps ...
7     Bundle - Data Science Starter Kit: R-Track - C...
8     Bundle - Data Science Starter Kit: R-Track - C...
9     Bundle - DS For Business + Web Apps (Level 1):...
10    Bundle - DS For Business + Web Apps (Level 1):...
11    Bundle - DS For Business + Web Apps (Level 1):...
12    Bundle - DS For Business + Web Apps (Level 1):...
13    Bundle - Machine Learning For Business: R-Trac...
14    Bundle - Machine Learning For Business: R-Trac...
15    Bundle - Machine Learning For Business: R-Trac...
16    DS4B 101-R: Business Analysis With R - 3 Low M...
17    DS4B 101-R: Business Analysis With R - 6 Low M...
18    DS4B 101-R: Business Analysis With R - Monthly...
19    DS4B 101-R: Business Analysis With R - Paid Co...
20    DS4B 101-R: Business Analysis With R - Single ...
21    DS4B 102-R: Shiny Web Applications (Intermedia...
22    DS4B 102-R: Shiny Web Applications (Intermedia...
23    DS4B 201-R: Data Science For Business With R -...
24    DS4B 201-R: Data Science For Business With R -...
25    DS4B 201-R: Data Science For Business With R -...
26    DS4B 201-R: Data Science For Business With R -...
27    DS4B 201-R: Data Science For Business With R -...
28    DS4B 201-R: Data Science For Business With R -...
29    DS4B 201-R: Data Science For Business With R -...
30    DS4B 202A-R: Shiny Developer with AWS - 6 Low ...
31    DS4B 202A-R: Shiny Developer with AWS - Paid C...
32    DS4B 203-R: High-Performance Time Series Forec...
33    DS4B 203-R: High-Performance Time Series Forec...
34    DS4B 203-R: High-Performance Time Series Forec...
35                  Jumpstart with R - Get Jumpstarted!
36           Learning Labs Pro - 6-month Payment Option
37             Learning Labs Pro - Low Monthly Payments
38                      Learning Labs Pro - Paid Course
39    Learning Labs Pro - Subscribe to LL PRO 6-Mont...
40    Learning Labs Pro - Subscribe to LL PRO Annual...
41    Learning Labs Pro - Subscribe to LL PRO Monthl...
42                Learning Labs Pro - Yearly Membership
43                      Learning Labs Pro - Yearly Plan
Name: description, dtype: object

### Step 3: Use Regex To Filter Data

In this next part, we will use `regex`, a text matching algorithm, to filter the product IDs that we wish to analyze. 

* Use `.str.match("Learning Lab")` to detect the presence of learning lab. 
* Store the resulting pandas series as `_filter`

In [8]:
_filter = product_descriptions_series.str.match("Learning Lab")
_filter

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
Name: description, dtype: bool

Use the `_filter` to select product ID's for product descriptions that contain "Learning Lab"

* Take the `products_df` table
* Use `[_filter]` to mask the rows that are `False`
* Select the `['product_id']` that correspond to the masked rows
* Store the result as `product_ids_filtered_series`

In [12]:
product_ids_filtered_series = products_df[_filter]['product_id']
product_ids_filtered_series

36    39
37    40
38    41
39    42
40    43
41    44
42    45
43    46
Name: product_id, dtype: int32

# Part 2: Filtering the Transactions Table by Product ID

### Step 1: Filter the Transactions Corresponding to the Filtered Product IDs

Next, we'll filter the transactions table to down to just the transactions with the product IDs we are interested in. 

* Read the raw "Transactions" Table, and store it as `transactions_df` 
* Convert the "product_id" column to type `int`
* Store the result as `transactions_df`

In [13]:
transactions_df = els.db_read_raw_els_table("Transactions")

transactions_df['product_id'] = transactions_df['product_id'].astype('int')

transactions_df

,transaction_id,purchased_at,user_full_name,user_email,charge_country,product_id
0,1,2018-04-29,Deliah Kemmer,deliah.kemmer@gmail.com,US,31
1,2,2018-04-29,Dr. Ronal Keeling DVM,dr.ronal.keeling.dvm@gmail.com,NZ,31
2,3,2018-04-29,Taya Ondricka-Orn,taya.ondrickaorn@hotmail.com,US,31
3,4,2018-04-29,Camren Auer DDS,camren.auer.dds@live.com,AU,31
4,5,2018-04-29,Dr Janna Glover Ph.D.,dr.janna.glover.phd@gmail.com,GB,31
...,...,...,...,...,...,...
4657,4658,2020-12-31,Bedford Farrell,bedford.farrell@yahoo.com,US,41
4658,4659,2020-12-31,Michelina Pfannerstill,michelina.pfannerstill@gmail.com,IN,41
4659,4660,2020-12-31,Mrs. Irene Feil PhD,mrs.irene.feil.phd@gmail.com,US,23
4660,4661,2020-12-31,Conner Carroll,conner.carroll@gmail.com,AU,1
4661,4662,2020-12-31,Francis Mosciski,francis.mosciski@gmail.com,IN,37

Next, create `_filter_2` :

* Filter `transaction_df['product_id']` which are in the `product_ids_filtered_series`. 
* The result is a pandas series of Boolean True/False.
* Store this output as `_filter_2`.

In [40]:
_filter_2 = transactions_df['product_id'].isin(product_ids_filtered_series)
_filter_2

0       False
1       False
2       False
3       False
4       False
        ...
4657     True
4658     True
4659    False
4660    False
4661    False
Name: product_id, Length: 4662, dtype: bool

Use `_filter_2` to mask the `transactions_df` so only the rows containing "Learning Labs" products are shown. 
Store this result as `transactions_filtered_df`.

In [43]:
transactions_filtered_df = transactions_df[_filter_2]
transactions_filtered_df

,transaction_id,purchased_at,user_full_name,user_email,charge_country,product_id
258,259,2019-04-11,Josephus Goldner,josephus.goldner@gmail.com,BE,46
259,260,2019-04-11,Marion Corwin,marion.corwin@gmail.com,IE,46
260,261,2019-04-11,Dr. Kash Schroeder m.d.,dr.kash.schroeder.md@gmail.com,GB,46
262,263,2019-04-13,Harrold Kris,harrold.kris@gmail.com,US,46
263,264,2019-04-15,Taya Ondricka-Orn,taya.ondrickaorn@hotmail.com,US,46
...,...,...,...,...,...,...
4652,4653,2020-12-30,Miss. Kaylen Gleichner dvm,miss.kaylen.gleichner.dvm@gmail.com,HR,44
4655,4656,2020-12-31,Rita Carter,rita.carter@gmail.com,IN,41
4656,4657,2020-12-31,Dr. Liston Cole,dr.liston.cole@gmail.com,US,41
4657,4658,2020-12-31,Bedford Farrell,bedford.farrell@yahoo.com,US,41
4658,4659,2020-12-31,Michelina Pfannerstill,michelina.pfannerstill@gmail.com,IN,41

# Part 3: Update the Email Lead Scoring Function to Add A Regex Command

Use what you just learned to make a new function called: `db_read_els_data_regex()`.

### Instructions:

* Begin with the `db_read_els_data()` function shown below, but has been renamed to `db_read_els_data_regex()`. 
  * A new argument has been added called `transaction_regex = "All Products"` which will be used to filter transactions by product matching regex. 
* You will:
  * Add the Products Table into the `engine.connect()` script
  * Filter the products table only when `transaction_regex != "All Products"`
  * Filter the transactions table using the product IDs from the filtered products table only when `transaction_regex != "All Products"`

In [ ]:
### Update this function:

def db_read_els_data_regex(
    transaction_regex = "All Products",
    conn_string = "sqlite:///00_database/crm_database.sqlite"
):
        
    # Connect to engine
    engine = sql.create_engine(conn_string)
    
    # Raw Data Collect
    with engine.connect() as conn:
        
        # Subscribers        
        subscribers_df = pd.read_sql("SELECT * FROM Subscribers", conn)
        
        subscribers_df['mailchimp_id'] = subscribers_df['mailchimp_id'].astype('int')

        subscribers_df['member_rating'] = subscribers_df['member_rating'].astype('int')

        subscribers_df['optin_time'] = subscribers_df['optin_time'].astype('datetime64')

        # Tags
        tags_df = pd.read_sql("SELECT * FROM Tags", conn)
        
        tags_df['mailchimp_id'] = tags_df['mailchimp_id'].astype("int")
        
        # Transactions
        transactions_df = pd.read_sql("SELECT * FROM Transactions", conn)
        
        transactions_df['purchased_at'] = transactions_df['purchased_at'].astype('datetime64')

        transactions_df['product_id'] = transactions_df['product_id'].astype('int')
        
    # MERGE TAG COUNTS
    
    user_events_df = tags_df \
        .groupby('mailchimp_id') \
        .agg(dict(tag = 'count')) \
        .set_axis(['tag_count'], axis=1) \
        .reset_index()
    
    subscribers_joined_df = subscribers_df \
        .merge(user_events_df, how='left') \
        .fillna(dict(tag_count = 0))
        
    subscribers_joined_df['tag_count'] = subscribers_joined_df['tag_count'].astype('int')
    
    # MERGE TARGET VARIABLE
    emails_made_purchase = transactions_df['user_email'].unique()
    
    subscribers_joined_df['made_purchase'] = subscribers_joined_df['user_email'] \
        .isin(emails_made_purchase) \
        .astype('int')
    
        
    return subscribers_joined_df

### Solution:

In [19]:

# Final Solution:

def db_read_els_data_regex(
    transaction_regex = "All Products",
    conn_string = "sqlite:///00_database/crm_database.sqlite"
):
        
    # Connect to engine
    engine = sql.create_engine(conn_string)
    
    # Raw Data Collect
    with engine.connect() as conn:
        
        # Subscribers        
        subscribers_df = pd.read_sql("SELECT * FROM Subscribers", conn)
        
        subscribers_df['mailchimp_id'] = subscribers_df['mailchimp_id'].astype('int')

        subscribers_df['member_rating'] = subscribers_df['member_rating'].astype('int')

        subscribers_df['optin_time'] = subscribers_df['optin_time'].astype('datetime64')

        # Tags
        tags_df = pd.read_sql("SELECT * FROM Tags", conn)
        
        tags_df['mailchimp_id'] = tags_df['mailchimp_id'].astype("int")
        
        # Products
        
        products_df = pd.read_sql("SELECT * FROM Products", conn)

        products_df['product_id'] = products_df['product_id'].astype("int")  
        
        if (transaction_regex != "All Products"):
            
            product_descriptions_series = products_df['description']   
            
            _filter = product_descriptions_series.str.match("Learning Lab")   
            
            product_ids_filtered_series = products_df[_filter]['product_id']

        
        # Transactions
        transactions_df = pd.read_sql("SELECT * FROM Transactions", conn)
        
        transactions_df['purchased_at'] = transactions_df['purchased_at'].astype('datetime64')

        transactions_df['product_id'] = transactions_df['product_id'].astype('int')
        
        if (transaction_regex != "All Products"):
            
            _filter_2 = transactions_df['product_id'].isin(product_ids_filtered_series)
            
            transactions_df = transactions_df[_filter_2]          
            
        
    # MERGE TAG COUNTS
    
    user_events_df = tags_df \
        .groupby('mailchimp_id') \
        .agg(dict(tag = 'count')) \
        .set_axis(['tag_count'], axis=1) \
        .reset_index()
    
    subscribers_joined_df = subscribers_df \
        .merge(user_events_df, how='left') \
        .fillna(dict(tag_count = 0))
        
    subscribers_joined_df['tag_count'] = subscribers_joined_df['tag_count'].astype('int')
    
    # MERGE TARGET VARIABLE
    emails_made_purchase = transactions_df['user_email'].unique()
    
    subscribers_joined_df['made_purchase'] = subscribers_joined_df['user_email'] \
        .isin(emails_made_purchase) \
        .astype('int')
    
        
    return subscribers_joined_df

## BONUS: Sweetviz Report

Next, we are going to tackle making a Sweetviz Report to identify any interesting insights

### Step 1: Use the `db_read_els_data_regex()` function to identify Learning Lab transactions

* Use the `db_read_els_data_regex()` function to indentify transactions that match "Learning Lab"
* Store the result as `subscribers_learning_lab_purchase_flag_df`

In [20]:
subscribers_learning_lab_purchase_flag_df = db_read_els_data_regex(
    transaction_regex="Learning Lab"
) 
    
subscribers_learning_lab_purchase_flag_df

,mailchimp_id,user_full_name,user_email,member_rating,optin_time,country_code,tag_count,made_purchase
0,3,Garrick Langworth,garrick.langworth@gmail.com,2,2019-05-22,in,6,0
1,4,Cordell Dickens,cordell.dickens@gmail.com,4,2018-11-19,it,0,0
2,8,Inga Dach,inga.dach@gmail.com,2,2018-11-19,None,0,0
3,10,Ferdinand Bergstrom,ferdinand.bergstrom@gmail.com,2,2020-03-20,co,3,0
4,11,Justen Simonis,justen.simonis@gmail.com,2,2020-04-14,None,0,0
...,...,...,...,...,...,...,...,...
19914,33405,Ms. Felicity Moore MD,ms.felicity.moore.md@gmail.com,2,2018-11-18,se,0,0
19915,33406,Shirley Rowe,shirley.rowe@gmail.com,1,2019-03-12,br,0,0
19916,33407,Jarrett Walker-Carroll,jarrett.walkercarroll@gmail.com,2,2019-09-09,in,0,0
19917,33408,Tanja Herzog,tanja.herzog@gmail.com,2,2019-10-24,None,2,0
19918,33409,Farrell Murphy,farrell.murphy@gmail.com,2,2020-06-19,ae,0,0

### Step 2: Use Sweetviz Analyze

* Create an analysis report using `sv.analyze()`
* Set the target feature to "made_purchase"
* Store the result as `report`

In [16]:

report = sv.analyze(
    source=subscribers_learning_lab_purchase_flag_df,
    target_feat="made_purchase"
)

                                             |          | [  0%]   00:00 -> (? left)

### Step 3: Save the report

* Use `report.show_html()` to create a report
* Store it in the file location: `"challenge_01/subscriber_learninglab_report.html"`

In [17]:
report.show_html(
    filepath="challenge_01/subscriber_learninglab_report.html"
)

Report challenge_01/subscriber_learninglab_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# Checks

In [21]:
els.explore_sales_by_category(
    data=subscribers_learning_lab_purchase_flag_df,
    category="country_code"
)

              sales  prop_in_group  prop_overall  prop_cumsum
country_code
us              223       0.058886      0.487965     0.487965
in               45       0.016514      0.098468     0.586433
au               21       0.068852      0.045952     0.632385
uk               16       0.031496      0.035011     0.667396
br               14       0.038251      0.030635     0.698031
...             ...            ...           ...          ...
eu                0       0.000000      0.000000     1.000000
ga                0       0.000000      0.000000     1.000000
ge                0       0.000000      0.000000     1.000000
gl                0       0.000000      0.000000     1.000000
is                0       0.000000      0.000000     1.000000

[183 rows x 4 columns]

In [22]:
subscribers_df = els.db_read_els_data()

els.explore_sales_by_category(
    data=subscribers_df,
    category="country_code"
)

              sales  prop_in_group  prop_overall  prop_cumsum
country_code
us              406       0.107209      0.464531     0.464531
in               76       0.027890      0.086957     0.551487
au               37       0.121311      0.042334     0.593822
uk               32       0.062992      0.036613     0.630435
br               25       0.068306      0.028604     0.659039
...             ...            ...           ...          ...
dm                0       0.000000      0.000000     1.000000
cy                0       0.000000      0.000000     1.000000
cw                0       0.000000      0.000000     1.000000
cv                0       0.000000      0.000000     1.000000
is                0       0.000000      0.000000     1.000000

[183 rows x 4 columns]